/*Lehotai Ábel*/

body{
    color:white;
    text-align: center;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

table{
    width: 100%;
}

th{
    background-color: rgb(240, 216, 0, 30%)
}

td{
    background-color: rgb(240, 216, 0, 20%);
}

li{
    text-align: left;
}

#A579778{
    background: #025418;
}

#A613877{
    background-color: #021d69;
}